<h1>Posts#index画面</h1>

<div class="row">
  <div class="col-md-3">

    <h2 class="my-3">新規投稿</h2>
    <%= render 'public/posts/form', post: @post %>
  </div>
  <div class="col-md-9">
    <div class="mt-3">
      <%= render 'public/posts/posts', posts: @posts %>
    </div>
  </div>
</div>



