<div class="container">
  <div class="row">
    <h1 class="mx-auto">ようこそ<i class="fa-solid fa-house-lock"></i><strong>うちれぽ</strong>へ!</h1>
    <h2 class="mx-auto">ここは空き家管理に頭を悩ませている人が情報交換できるサイトです</h2>
  </div>
</div>