<table class="table">
  <tbody>
    <tr>
      <th>id</th>
      <td><%= user.id %></td>
    </tr>
    <tr>
      <th>名前</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>email</th>
      <td><%= user.email %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= user.address %></td>
    </tr>
  </tbody>
</table>