<h1>Public::Users#show</h1>

<div class="row">
  <div class="col-md-3">
    <h2 class="my-3">ユーザーの情報</h2>
    <%= render 'admin/users/user_info', user: @user %>
    <%= link_to "削除", admin_user_path(@user), method: :delete,
        data: { confirm: "本当に削除しますか？" } %>
  </div>
    <div class="col-md-9">
    <div class="mt-3">
      <%= render 'admin/posts/posts', posts: @posts %>
    </div>
  </div>
</div>